.item{
	width: 180px;
	display: inline-block;
}
.gray{
	background-color: #eee;
}
.line{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.line__footer{
	align-items: center;
}
.line__item{
	width: 170px;
}
.line__btn{
	height: 50px;
}